In [3]:
#load pandas
import pandas as pd

#load data
household_income = pd.read_csv("https://data.wprdc.org/datastore/dump/b119be7e-1c70-4bbe-bf34-2056fef533ec?inner_span=True")

In [54]:
household_income.head(10)

,Neighborhood,Id,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999","Margin of Error; Total: - $15,000 to $19,999",...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
0,Allegheny Center,1,870.0,93.000000,147.0,57.000000,115.0,54.000000,30.0,21.000000,...,73.0,39.000000,26.0,18.000000,25.0,25.000000,12.0,17.000000,21.0,21.000000
1,Allegheny West,2,146.0,36.000000,0.0,10.000000,3.0,7.000000,4.0,6.000000,...,11.0,10.000000,20.0,17.000000,0.0,10.000000,9.0,13.000000,21.0,24.000000
2,Allentown,3,1069.0,132.457540,190.0,82.134037,78.0,42.825226,78.0,80.305666,...,36.0,32.015621,31.0,42.941821,14.0,27.856777,0.0,17.320508,3.0,16.248077
3,Arlington,4,701.0,104.465305,70.0,42.497059,35.0,26.870058,56.0,29.086079,...,141.0,54.212545,23.0,17.804494,6.0,16.248077,7.0,17.320508,2.0,15.000000
4,Arlington Heights,5,144.0,59.000000,48.0,42.000000,23.0,27.000000,43.0,52.000000,...,0.0,10.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000
5,Banksville,6,1946.0,229.222599,51.0,43.588989,72.0,75.822160,155.0,83.048179,...,251.0,108.189648,126.0,71.337227,156.0,91.285267,64.0,45.442271,49.0,53.310412
6,Bedford Dwellings,7,723.0,53.000000,307.0,75.000000,129.0,50.000000,91.0,48.000000,...,0.0,10.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000
7,Beechview,8,3567.0,258.027130,269.0,102.547550,136.0,64.822835,244.0,100.064979,...,427.0,114.017543,279.0,102.990291,87.0,50.189640,45.0,40.583248,31.0,36.249138
8,Beltzhoover,9,848.0,156.057682,132.0,88.147603,182.0,95.519631,63.0,44.440972,...,43.0,36.945906,7.0,20.518285,0.0,20.000000,15.0,23.194827,0.0,20.000000
9,Bloomfield,10,4571.0,205.494525,521.0,117.940663,261.0,69.907081,297.0,81.111035,...,519.0,103.754518,168.0,55.488738,155.0,63.898357,125.0,55.865911,108.0,46.925473

In [42]:
## estimate total
#people of $200,000+
#find percentage p/t*100
#find top 10 counties
percentage = []
counties = []

for county in range(0,household_income.index.size): #go through whole data set
    p = household_income.iloc[county,34]/household_income.iloc[county,2]
    p_round = (p.round(5))
    #print(household_income.iloc[county,0] +" "+ str(p))
    #put results in dictionary
    #results[household_income.iloc[county,0]] = str(p_round)
    percentage.append(str(p_round))
    counties.append(household_income.iloc[county,0])

results = {'County' : counties, 'Percentage': percentage}
wealth = pd.DataFrame.from_dict(results)
wealth.head(10)

              County Percentage
0   Allegheny Center    0.02414
1     Allegheny West    0.14384
2          Allentown    0.00281
3          Arlington    0.00285
4  Arlington Heights        0.0
5         Banksville    0.02518
6  Bedford Dwellings        0.0
7          Beechview    0.00869
8        Beltzhoover        0.0
9         Bloomfield    0.02363

In [53]:
wealth.sort_values(by=['Percentage'], ascending = False).tail(35)

                  County Percentage
60             Overbrook    0.00251
40        Homewood North    0.00248
71           South Shore        0.0
87              West End        0.0
88          West Oakland        0.0
67             Ridgemont        0.0
74         Spring Garden        0.0
78             St. Clair        0.0
69              Sheraden        0.0
45         Lincoln Place        0.0
58     Northview Heights        0.0
29               Elliott        0.0
4      Arlington Heights        0.0
6      Bedford Dwellings        0.0
8            Beltzhoover        0.0
10                 Bluff        0.0
11               Bon Air        0.0
14  California-Kirkbride        0.0
19       Central Oakland        0.0
20        Chartiers City        0.0
21               Chateau        0.0
26         East Carnegie        0.0
30                Esplen        0.0
57           North Shore        0.0
32              Fineview        0.0
33            Friendship        0.0
35            Glen Hazel        0.0
37                  Hays        0.0
41        Homewood South        0.0
42         Homewood West        0.0
43             Knoxville        0.0
49    Marshall-Shadeland        0.0
50           Middle Hill        0.0
55         New Homestead        0.0
90               Windgap        0.0

Based on this table, the last 33 counties on this list have absolutely no people making a salary of more than $200,000. By this logic, we have narrowed down the safest counties to 33 possible places.